<!DOCTYPE html>
<html>

<head>
  <title>Practice Tracker</title>
  <script src="https://unpkg.com/vue@next"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<div id="app">

  <h1 class="text-center">{{ activity }} Time Tracker</h1>

  <div id="add-hours" class="card">

    <h2 class="card-header">Add Records</h2>
    <div class="card-body">

<!--      show errors if there are any  -->
      <div class="alert alert-danger" v-if="errors.length > 0">
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </div>

        <!--  Input for date using v-model to connect this input to "dateString" in data -->
      <div class="form-group">
        <label class="form-label" for="date">What date did you do this activity?</label>
        <input id="date" class="form-control" type="date" v-model="dateString">
        <small id="date-help" class="form-text text-muted">
          Date must be today or in the past.
        </small>
      </div>

        <!--  Input for # of hours; use v-model to connect this input to hours in data  -->
      <div class="form-group">
        <label class="form-label" for="hours">How many hours did you practice for?</label>
        <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
        <small id="hours-help" class="form-text text-muted">
          Enter a number of hours, more than 0, up to a maximum of 24
        </small>
      </div>

        <!--  Select Elements using v-for to create option elements -->
        <div class="form-group">
        <label class="form-label" for="type">What type?</label>
        <select class="form-control" v-model="type">
          <option v-for="activityType in types">{{ activityType }}</option>
        </select>
      </div>

      <div class="form-label pb-2">
        What media?
      </div>

        <!-- First "media" radio button -->
        <div class="form-check-inline">
        <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
        <label class="form-check-label" for="media1">Traditional</label>
      </div>

        <!-- Second "media" radio button -->
      <div class="form-check-inline">
        <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
        <label class="form-check-label" for="media2">Digital</label>
      </div>

<!--  check box for: Completed?  NOT WORKING-->
        <div class="form-check">
            <input id="completed" class="form-check-input" type="checkbox" value="Completed" v-model="completed">
<!--  alternative input attempt:  -->
<!--        <input id="completed" class="form-check-input" type="checkbox" value="Completed" v-on:change="true">-->
        <label class="form-check-label" for="completed">Completed?</label>
        </div>

<!--   Box for Notes-->
        <div class="form-group">
            <label for="notes">Notes:</label>
            <input id="notes" class="form-control" v-model="notes">
        </div>

<!-- alternative div for notes: -->
<!--        <div class="form-group">-->
<!--            <label for="notes">Notes:</label>-->
<!--            <textarea id="notes" class="form-control" rows="3" v-model="notes"></textarea>-->
<!--        </div>-->

        <!-- ADD button using v-on:click -->
      <div>
        <button class="btn btn-primary mt-2" type="button"v-on:click="submit">Add record</button>
      </div>

    </div>
  </div>

  <div class="card">
    <h2 class="card-header">Activity Records</h2>

    <div class="card-body">

<!-- Message with ongoing total of records-->
      <h3>{{ totalRecordsMessage }} </h3>

<!-- Table of records-->
      <div id="records">
        <table class="table table-hover">
          <tr>
            <th>Date</th>
            <th>How many hours?</th>
            <th>Type</th>
            <th>Media</th>
            <th>Completed?</th>
            <th>Notes</th>
          </tr>
 <!-- Table of activity records using v-for -->
          <tr v-for="record in activityRecords" v-bind:class="record.type">
            <td>{{ shortDate(record.date) }}</td>
            <td>{{ record.hours }}</td>
            <td>{{ record.type }}</td>
            <td>{{ record.medium }}</td>
            <td>{{ completedBouleantoText(record.completed) }}</td>
            <td>{{ shortNotes(record.notes) }}</td>
          </tr>

        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <h2 class="card-header">Summary</h2>

    <div class="card-body">

      <p>You have practiced a total of {{ totalHours }} hours</p>

      <!-- TO DO: Challenge question! Display a list of the total hours for each type.  -->

    </div>
  </div>

</div>

<script>

  let app = Vue.createApp({
    data () {
      return {

        // The name of the activity tracked:
        activity: 'Watercolor Painting',

        // An array of all the activity records:
        activityRecords: [],

        // v-modeled to the form inputs (date: '2020-06-31')
        dateString: '',
        hours: 1,
        type: 'Painting',
        medium: 'Traditional',
        completed: false,
        notes: '',

        // used with the select-option in the form
        types: ['Sketching', 'Drawing', 'Painting'],

        errors: []
      }
    },
    methods: {
      submit() {

        this.errors = [] // no errors at the outset

        let date = new Date(this.dateString)  // make date an object

        // Error check: is it a valid date? today or in the past?
        if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ) {
          this.errors.push('Select a valid date, today or in the past.')
        }

        // Error check: if less than 0 or more than 24 hours are entered:
        if (this.hours <= 0 || this.hours > 24) {
          this.errors.push('The number of hours must be greater than 0 and less than or equal to 24.')
        }

        // Error check:  if no type entered:
        if (!this.type) {
          this.errors.push('Select a type.')
        }

        // Error check: if no media selected
        if (!this.medium) {
          this.errors.push('Select a medium.')
        }

// Completed checkbox:  not working
//         if (this.completed) {
//             this.completed = 'Completed'
//         } else {
//             this.completed = 'Not completed'
//         }

          // if (this.completed) {
          //     this.completed = 'Completed'
          // } else {
          //     this.completed = 'Not completed'


              // only add record if no errors:
        if (this.errors.length === 0) {
          let record = {
            date: date,
            hours: this.hours,
            type: this.type,
            medium: this.medium,
            completed: this.completed,
            notes: this.notes
          }
          // add to activityRecords:
          this.activityRecords.push(record)

          //sort activities by date
          this.activityRecords.sort(function(r1, r2) {
            // sort with oldest first, most recent last
            return r1.date.getTime() - r2.date.getTime()
          })
        }
      },

      //  Put date in a more readable form:
      shortDate(date) {
        return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
      },

      shortNotes(notes) {
          if (notes.length <= 40) {
              return notes
          } else {
              let shortNote = notes.substring(0,39)
              return shortNote + '...'
          }

      },

      completedBouleantoText(completed) {
          if (completed) {
              return 'Completed'
          } else {
              return 'Not Completed'
          }
      }
    },
    computed: {
      //  Have records message make sense to a human:
      totalRecordsMessage() {

        let numberOfRecords = this.activityRecords.length

        if (numberOfRecords === 1) {
          return '1 record'
        } else {
          return numberOfRecords + ' records'
        }
      },

      // Calculate the total number of hours
      totalHours() {
        let total = 0
        this.activityRecords.forEach(function(record) {
          total = total + record.hours
        })
        return total
      }
    }
  })

  app.mount('#app')

</script>

</body>

</html>