#records {
    max-height: 250px;
    overflow: scroll;
}

.Drawing {
    color: green;
    background-color: cornsilk;
}

.Sketching {
    color: blue;
    background-color: lightcyan;
}

.Painting {
    color: darkred;
    background-color: pink;
}