<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>

    .selected {
      text-decoration: line-through ;
      font-style: italic;
      color: gray;
    }

    input {
      width: 100%;
      padding: 5px;
      margin: 5px 5px 5px 0px;
      box-sizing: border-box;
    }

    #error {
      color: red;
    }


  </style>

</head>
<body>

<div id="app">

  <h1>Student Club Roster</h1>

  <h2>Add Students</h2>

  <!--  TODO display an error message if there are errors in the form   -->

  <label for="student-name">Student Name</label>
  <input id="student-name" name="student-name" v-model.trim="newName">
  <br>
  <label for="student-id">Student ID</label>
  <input id="student-id" name="student-id" v-model="newID">  <!-- TODO v-model this input to newID -->
  <br>
  <label for="student-gpa">Student GPA</label>
  <input id="student-gpa" name="student-gpa" type="number" v-model="newGPA">  <!-- TODO v-model this input to newGPA -->
  <br>

  <button id="add-student"v-on:click="addStudent">Add Student</button>  <!-- TODO connect click event -->

  <h2>Student List</h2>

  <p>There are
    <span id="student-count">
            <!-- TODO display student count -->
        </span>
    student(s) in the club.</p>


  <ul id="student-list">
    <!-- TODO use v-for to create one li element for each student in the list -->
    <!-- TODO each student should have a click event listener to toggle the selected class -->
    </li>
  </ul>

  <button id="remove-selected-students" >Remove selected students</button>

</div>

<script>

  /* Add the following functionality to this page

  When the page loads
      - Using JavaScript, display 0 in span#student-count

  When button#add-students is clicked
      - Read the value from the student-name input
      - Read the value from the student-id input
      - Read the value from the student-gpa input
      - Create a new li element
      - Set the new li element innerHTML to a string containing the student's name, id, and GPA
          - for example "Beyonce Knowles, id: aa1234bb, GPA: 3.8"
          - Use a template string
      - Add a click event handler to each li element.
          When a li element is clicked, add the class="selected" to that li element.
          When a li element is clicked again, remove the class="selected" from that li element
      - Add the new li element to ul#student-list element
      - Update the span#student-count value to the new number of students

  When button#remove-selected-students is clicked,
      - remove all of the elements with the class="selected" from the list.

  */

  let app = Vue.createApp({
    data() {
      return {
        newName: '',
        newID: '',
        newGPA: '',
        students: [{name: 'A. Example', id: '123456', gpa: 3.5, selected: false}],
        error: ''
      }
    },
    methods: {
      addStudent(){

        // alert("add student clicked")  added to check v-on:click working
        this.error = ''

        // validate - all fields present
        if (!this.newName || !this.newID || !this.newGPA) {
          this.error = 'Fill in all the fields'
          return
        }

        // Check range of GPA
        if (this.newGPA < 0 || this.newGPA > 4) {
          this.error = 'GPA must be between 0 and 4'
          return
        }

        // todo create new student
        // todo add student to student list
      },

      toggleSelect(id) {
        // Search the list for the student with this ID and toggle the selected value
        this.students.forEach( s => {
          if (s.id == id) {
            s.selected = !s.selected
          }
        })
      },
      deleteSelected() {
        this.students = this.students.filter( student => {
          return !student.selected
        })
      }
    },
    computed: {
      studentCount() {
        return this.students.length
      }
    }

  })

  app.mount('#app')  //tell Vue to manage the HTML with id "app"

</script>

</body>
</html>